$bcmain:  #F2F2F2;
$colormainBig: #000000;
$colormainSmall:#333333;
$colormainWhite: #ffffff;
$hoverColor:#81B3D2;
$activeColor:#000000;
$checkedColor:#766357;

@mixin breakpoint($point) {
    @if $point == xxl {
      @media (max-width: 1680px) {
        @content;
      }
    } @else if $point == xl {
      @media (max-width: 1270px) {
        @content;
      }
    } @else if $point == lg {
      @media (max-width: 992px) {
        @content;
      }
    } @else if $point == md {
      @media (max-width: 768px) {
        @content;
      }
    } @else if $point == sm {
      @media (max-width: 576px) {
        @content;
      }
    } @else if $point == xs {
      @media (max-width: 320px) {
        @content;
      }
    }
  }