$bcmain: #f2f2f2;
$bcBlue: #81b3d2;
$bcButtonDark: #766357;

$buttonHoverDark: #604e43;
$buttonActiveDark: #503e33;

$colormainBig: #000000;
$colormainSmall: #333333;
$colormainWhite: #ffffff;

$hoverColor: #81b3d2;
$activeColor: #000000;
$checkedColor: #766357;

$shadow: 0px 4px 30px rgba(111, 142, 230, 0.685);
